
body {
  background-color: #e0ffff;
  font-family: Arial, sans-serif;
  margin:0;
  padding: 0;
}

h1 {
  color: #044b97;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  margin-bottom: 10px
  transition: color ls ease;
  
}
h1:hover {
  color: #0049e7
img{
  width:300px;
  height:200px;
  border:10px solid forestgreen;
  color:white;
  border-radius:20px;
  vertical-align: top;
}

figcaption{
  width: 315px;
  text-align: left;
  margin-left: 25px;
  color:lightgray;
  font-style: italic;
  font-size: 30px;
}
