body {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0; 
}

h1 {
  color: darkblue;
}

img {
  width: 300px;
  height: 200px;
  border: 10px solid rgb(14, 15, 14);
  background-color: white;
  border-radius: 20px;
  vertical-align: top;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

figcaption {
  width: 315px;
  text-align: left;
  margin-left: 25px;
  font-style: italic;
  font-size: 30px;
}